.App {
  text-align: center;
}

.App-logo {
  padding: 50px;
   transition: transform .2s; /* Animation */
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

.App-logo:hover {
  transform: scale(1.5);
}


.App-header {
  background: url(images/leaves.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  filter: brightness(%);
   min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



